<h1 class="text-center"><%= @task.title %></h1>

</br>
</br>

<p>Priority: <%= @task.priority %></p>


<p>Content: <%= @task.content %></p>

</br>
</br>
</br>
</br>
<p class="text-center"> <%= link_to "Index Page", tasks_path %></p>

